---
import {
  FaGithub as Github,
  FaLinkedin as Linkedin,
  FaInstagram as Instagram,
} from 'react-icons/fa';

const {
  class: className = '',
  iconSizeMobile = 'w-6 h-6',
  iconSizeDesktop = 'w-8 h-8',
} = Astro.props;
---

<div class={className}>
  <a href="#" aria-label="GitHub">
    <Github
      className={`${iconSizeMobile} lg:${iconSizeDesktop} text-primary transition-all duration-300 hover:scale-110 hover:text-accent mx-1`}
    />
  </a>
  <a href="#" aria-label="LinkedIn">
    <Linkedin
      className={`${iconSizeMobile} lg:${iconSizeDesktop} text-primary transition-all duration-300 hover:scale-110 hover:text-accent mx-1`}
    />
  </a>
  <a href="#" aria-label="Instagram">
    <Instagram
      className={`${iconSizeMobile} lg:${iconSizeDesktop} text-primary transition-all duration-300 hover:scale-110 hover:text-accent mx-1`}
    />
  </a>
</div>
